/* ----- GENERAL ----- */
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 auto;
}
.container{
    max-width: 1100px;
    margin: 0 auto;

}
section{
    width: 100%;
}
.section-title{
    text-transform: uppercase;
    font-size: 30px;
}
.section-text{
    text-indent: 1em;
}
/* -----  END GENERAL ----- */

/* ----- HEADER ----- */
.header{
    font-family: 'Roboto', sans-serif;
    background-color: #ffe9a90a;
}
.header-container{
    box-shadow: 0 -7px 10px 5px #29292945;
    margin-top: 0;
}
.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
}
.n-item{
    list-style: none;
    padding: 0 20px;
    line-height: 50px;

}
.nav-list li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* ----- END HEADER ----- */


/* ----- MAIN ----- */
.main{
    font-family: 'Roboto', sans-serif;;
}
.main-cont{
    box-shadow: 0 0 10px 3px #29292961;
    background-color: #ffe9a90a;
}
.main-container{
    display: flex;
    width: 100%;
}
/*CENTER*/
.center-container{
    display: flex;
    width: 100%;
    align-items: center;
}
.center-title{
    width: 70%;
    padding: 20px 20px 20px 20px;
    display: flex;
    text-align: right;
    text-transform: uppercase;
    box-shadow: 28px 2px 0px -25px rgb(41 41 41);
    /* background-color: #ed640305;
    box-shadow: 20px 0 25px -30px rgb(41 41 41); */
}
.profile-title{
    font-weight: 700;
    font-size: 50px;
    word-spacing: 10px;
    line-height: 50px;
    border-bottom: 1px solid #8f8f8f;
    margin-bottom: 1em;
}
.profile-profession{
    font-weight: 100;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 50px;
    margin-top: 0;
    margin-top: -8%;
    margin-bottom: 16%;
}
.avatar-prof{
    display: flex;
    width: 30%;
    padding: 22px 20px 0 20px;
    justify-content: center;   
}
.av-image{
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 15px rgb(0, 0, 0, 0.2);
    transition: .3s;
    width: 200px;
    height: 200px;

}
.avatar-image{
    margin: 0 53px 0 53px;
}
/*LEFT*/
.left-side{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    padding: 20px;
    box-shadow: 15px 0px 25px -25px rgb(41 41 41);
    background-color: #004eff0f;
    /* background-color: #ed640305; */
}

/*RIGHT*/
.right-side{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30%;
    padding: 20px;
    text-indent: 5em;
}
.skills-list, .language-list{
    text-indent: 1em;
    margin-left: 20%;
}
/* ----- END MAIN ----- */


/* ----- FOOTER ----- */
.footer-text{
    margin-bottom: 0;
}
.footer-container{
    box-shadow: 0 7px 10px 5px #29292945;
    background-color: #ffe9a90a;
}
/* ----- END FOOTER ----- */

/* FOR SCRIPT*/
.last-word, .section-title-word{
    color: rgb(255, 184, 31);
}
/*END FOR SCRIPT*/

/* ----- MEDIA ----- */
@media (max-width: 900px){
    .main-container{
        flex-wrap: wrap;
    }
    .left-side{
        width: 100%;
    }
    .right-side{
        width: 100%;
        text-indent: 0;
    }
    .center-container{
        flex-wrap: wrap;
    }
    .title-prof{
        width: 100%;
    }
    .avatar-prof{
        width: 100%;
    }
    .section-title{
        margin-left: 0%;
        text-align: center;
    }
    .avatar-prof{
        padding: 22px 20px 20px 20px;
    }
    .center-title{
            width: 85%;
    }
}
@media (max-width: 500px){
    .profile-title {
        font-weight: 700;
        font-size: 20px;
    }
}
/* ----- END MEDIA ----- */


.js-codewars{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    display: block;
    margin: 0 1em 0 1em;
    box-shadow: -5px 0px 0px 0px;
    padding: 20px;
    background-color: #fffefc;
}
/* js code style*/
.js-title-function, .js-method-name{
    color: #78bb65;
}
.js-keyword{
    color: #b45ea4;
}
.js-parameters{
    color: #e7ce56;
}
.js-type{
    color:rgb(8, 53, 255)
}
/* end js code style */
